@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: dark light;
  font-family: "Noto Sans Thai", sans-serif;
  --base-1: hsl(206, 30%, 98.8%);
  --base-2: hsl(210, 16.7%, 97.6%);
  --base-3: hsl(209, 13.3%, 95.3%);
  --base-4: hsl(209, 12.2%, 93.2%);
  --base-5: hsl(208, 11.7%, 91.1%);
  --base-6: hsl(208, 11.3%, 88.9%);
  --base-7: hsl(207, 11.1%, 85.9%);
  --base-8: hsl(205, 10.7%, 78%);
  --base-9: hsl(206, 6%, 56.1%);
  --base-10: hsl(206, 5.8%, 52.3%);
  --base-11: hsl(206, 6%, 43.5%);
  --base-12: hsl(206, 24%, 9%);
  --brand-1: 255 65% 99.4%;
  --brand-2: 252 100% 99%;
  --brand-3: 252 96.9% 97.4%;
  --brand-4: 252 91.5% 95.5%;
  --brand-5: 252 85.1% 93%;
  --brand-6: 252 77.8% 89.4%;
  --brand-7: 252 71% 83.7%;
  --brand-8: 252 68.6% 76.3%;
  --brand-9: 252 56% 57.5%;
  --brand-10: 251 48.1% 53.5%;
  --brand-11: 250 43% 48%;
  --brand-12: 254 60% 18.5%;
  --blue-1: 206 100% 99.2%;
  --blue-2: 210 100% 98%;
  --blue-3: 209 100% 96.5%;
  --blue-4: 210 98.8% 94%;
  --blue-5: 209 95% 90.1%;
  --blue-6: 209 81.2% 84.5%;
  --blue-7: 208 77.5% 76.9%;
  --blue-8: 206 81.9% 65.3%;
  --blue-9: 206 100% 50%;
  --blue-10: 208 100% 47.3%;
  --blue-11: 211 100% 43.2%;
  --blue-12: 211 100% 15%;
  --green-1: 136 50% 98.9%;
  --green-2: 138 62.5% 96.9%;
  --green-3: 139 55.2% 94.5%;
  --green-4: 140 48.7% 91%;
  --green-5: 141 43.7% 86%;
  --green-6: 143 40.3% 79%;
  --green-7: 146 38.5% 69%;
  --green-8: 151 40.2% 54.1%;
  --green-9: 151 55% 41.5%;
  --green-10: 152 57.5% 37.6%;
  --green-11: 153 67% 28.5%;
  --green-12: 155 40% 14%;
  --red-1: 359 100% 99.4%;
  --red-2: 359 100% 98.6%;
  --red-3: 360 100% 96.8%;
  --red-4: 360 97.9% 94.8%;
  --red-5: 360 90.2% 91.9%;
  --red-6: 360 81.7% 87.8%;
  --red-7: 359 74.2% 81.7%;
  --red-8: 359 69.5% 74.3%;
  --red-9: 358 75% 59%;
  --red-10: 358 69.4% 55.2%;
  --red-11: 358 65% 48.7%;
  --red-12: 354 50% 14.6%;
  --orange-1: 24 70% 99%;
  --orange-2: 24 83.3% 97.6%;
  --orange-3: 24 100% 95.3%;
  --orange-4: 25 100% 92.2%;
  --orange-5: 25 100% 88.2%;
  --orange-6: 25 100% 82.8%;
  --orange-7: 24 100% 75.3%;
  --orange-8: 24 94.5% 64.3%;
  --orange-9: 24 94% 50%;
  --orange-10: 24 100% 46.5%;
  --orange-11: 24 100% 37%;
  --orange-12: 15 60% 17%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-1: hsl(200, 7%, 8.8%);
    --base-2: hsl(195, 7.1%, 11%);
    --base-3: hsl(197, 6.8%, 13.6%);
    --base-4: hsl(198, 6.6%, 15.8%);
    --base-5: hsl(199, 6.4%, 17.9%);
    --base-6: hsl(201, 6.2%, 20.5%);
    --base-7: hsl(203, 6%, 24.3%);
    --base-8: hsl(207, 5.6%, 31.6%);
    --base-9: hsl(206, 6%, 43.9%);
    --base-10: hsl(206, 5.2%, 49.5%);
    --base-11: hsl(206, 6%, 63%);
    --base-12: hsl(210, 6%, 93%);
    --brand-1: 250 20% 10.2%;
    --brand-2: 255 30.3% 12.9%;
    --brand-3: 253 37% 18.4%;
    --brand-4: 252 40.1% 22.5%;
    --brand-5: 252 42.2% 26.2%;
    --brand-6: 251 44.3% 31.1%;
    --brand-7: 250 46.8% 38.9%;
    --brand-8: 250 51.8% 51.2%;
    --brand-9: 252 56% 57.5%;
    --brand-10: 251 63.2% 63.2%;
    --brand-11: 250 95% 76.8%;
    --brand-12: 252 87% 96.4%;
    --blue-1: 212 35% 9.2%;
    --blue-2: 216 50% 11.8%;
    --blue-3: 214 59.4% 15.3%;
    --blue-4: 214 65.8% 17.9%;
    --blue-5: 213 71.2% 20.2%;
    --blue-6: 212 77.4% 23.1%;
    --blue-7: 211 85.1% 27.4%;
    --blue-8: 211 89.7% 34.1%;
    --blue-9: 206 100% 50%;
    --blue-10: 209 100% 60.6%;
    --blue-11: 210 100% 66.1%;
    --blue-12: 206 98% 95.8%;
    --green-1: 146 30% 7.4%;
    --green-2: 155 44.2% 8.4%;
    --green-3: 155 46.7% 10.9%;
    --green-4: 154 48.4% 12.9%;
    --green-5: 154 49.7% 14.9%;
    --green-6: 154 50.9% 17.6%;
    --green-7: 153 51.8% 21.8%;
    --green-8: 151 51.7% 28.4%;
    --green-9: 151 55% 41.5%;
    --green-10: 151 49.3% 46.5%;
    --green-11: 151 50% 53.2%;
    --green-12: 137 72% 94%;
    --red-1: 353 23% 9.8%;
    --red-2: 357 34.4% 12%;
    --red-3: 356 43.4% 16.4%;
    --red-4: 356 47.6% 19.2%;
    --red-5: 356 51.1% 21.9%;
    --red-6: 356 55.2% 25.9%;
    --red-7: 357 60.2% 31.8%;
    --red-8: 358 65% 40.4%;
    --red-9: 358 75% 59%;
    --red-10: 358 85.3% 64%;
    --red-11: 358 100% 69.5%;
    --red-12: 351 89% 96%;
    --orange-1: 30 70% 7.2%;
    --orange-2: 28 100% 8.4%;
    --orange-3: 26 91.1% 11.6%;
    --orange-4: 25 88.3% 14.1%;
    --orange-5: 24 87.6% 16.6%;
    --orange-6: 24 88.6% 19.8%;
    --orange-7: 24 92.4% 24%;
    --orange-8: 25 100% 29%;
    --orange-9: 24 94% 50%;
    --orange-10: 24 100% 58.5%;
    --orange-11: 24 100% 62.2%;
    --orange-12: 24 97% 93.2%;
  }
}
